.c-signon--register {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    @media (min-width: 760px) {
        .o-form {
            width: 45%;
        }
    }
}